.trabalhos{
    padding: 4rem 10rem;
    // min-height: 55vh;
    flex-grow: 1;
    h3{
        max-width: fit-content;
        font-size: 1.8rem;
        padding-bottom: 8px;
        margin-bottom: 2rem;
        border-bottom: 3px solid var(--cor-roxo);
    }
    .container-card-trabalhos{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        gap: 1rem;
    }
}